ion-content {
  //Right
  //--overflow: hidden;
  overflow: auto;
  //scrollbar-width: thin;

}
// ------------------------------------------- Header -------------------------------------------//
//ion-grid {
//  height: 100%;
//  background: white;
//  overflow-y: scroll;
//  padding-top: 1px;
//}
//
//.scrollbar {
//  height: 100%;
//  //min-height: 300px;
//  background: white;
//  overflow-y: scroll;
//  //padding: 25px;
//  padding-top: 1px;
//}
//
//.force-overflow {
//  height: 100px;
//}
//.wrapper {
//  text-align: center;
//  width: 700px;
//  margin: auto;
//}
//.style-3::-webkit-scrollbar-track {
//  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//  background-color: white;
//}
//.style-3::-webkit-scrollbar {
//  width: 1px;
//  background-color: white;
//}
//.style-3::-webkit-scrollbar-thumb {
//  background-color: white;
//}

// ----------------------------------------------- ion card --------------------------------------//
.solde{
  font-size: 0.8em;
}
.price-ensemble{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .price{
    display: flex;
    flex-direction: row;
    .price-pr{
      font-size: 1em;
      color: rgb(0, 225, 255);
    }
    .price-fr{
      font-size: 0.4em;
      padding: 15px 12px;
    }
  }
  .eye{
    padding: 9px 0;
  }
}
.date{
  font-size: 0.6em;
  // color: black;
}

@media screen and (min-width: 730px) {
  ion-content {
    overflow: auto;
    //scrollbar-width: thin;

  }
}
