<div>
  <ion-header translucent={true}>
    <ion-toolbar>
      <ion-card class="ion-justify-content-center header">
        <ion-card-header>
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-col size-lg="1" size-md="1" size-sm="3" size="5">
                <div>
                  <img src="assets/icon/logo.png"/>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
        <ion-card-content class="ion-align-items-center">
          <ion-grid>
            <ion-row>
              <ion-col style="display: flex; justify-content: center">
                <div class="aboveDepot">
                  <ion-icon id="depotIcon" src="assets/icon/all-transaction.svg" alt="alltransaction" ></ion-icon>Toutes les transactions
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-card-content>
      </ion-card>
    </ion-toolbar>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            1 of 4
          </ion-col>
          <ion-col col-2>
            2 of 4
          </ion-col>
          <ion-col col-2>
            3 of 4
          </ion-col>
          <ion-col col-4>
            4 of 4
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

    <ion-col class="wrapper ">
         <div class="scrollbar style-3">
          <div class="force-overflow">
            <ion-grid fixed>
                <ion-row>
                    <ion-col>
                        <div>Date</div>
                    </ion-col>
                    <ion-col>
                        <div>User</div>
                    </ion-col>
                    <ion-col>
                        <div>Type</div>
                    </ion-col>
                    <ion-col>
                        <div>Montant</div>
                    </ion-col>
                    <ion-col>
                        <div>Frais</div>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid>
                <ion-row *ngFor="let transaction of alltransactions">
                    <ion-col>
                         <div>{{transaction?.date}}</div>
                    </ion-col>
                    <ion-col>
                        <div>{{transaction?.user}}</div>
                    </ion-col>
                    <ion-col>
                        <div>{{transaction?.type}}</div>
                    </ion-col>
                    <ion-col>
                        <div>{{transaction?.montant}}</div>
                    </ion-col>
                    <ion-col>
                        <div>{{transaction?.frais}}</div>
                    </ion-col>
                </ion-row>
            </ion-grid>
          </div>
         </div>
     </ion-col>
</div>
