<!--  ---------------------------------REAL --------------------------------------->
<ion-header translucent>
  <ion-row class="ion-justify-content-center">
    <ion-col size="10" size-sm="8" size-md="6" >
      <ion-toolbar >
        <ion-buttons slot="start" routerLink="/homepage">
          <ion-icon style="zoom:2.0;" name="arrow-back-circle-outline"></ion-icon>
        </ion-buttons>
        <ion-row class="ion-justify-content-center">
            <div>
                <ion-icon name="planet-outline"></ion-icon>
                   Création d'agence
            </div>
        </ion-row>
      </ion-toolbar>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="8" size-md="6" size-lg="4">
        <form [formGroup]="formAgence" enctype="multipart/form-data">
          <ion-card>

            <ion-card-content>

                <ion-item lines="full" class=" ion-margin-bottom">
                    <ion-label position="floating">Nom de l'Agence</ion-label>
                    <ion-input type="text" required formControlName="nomAgence"></ion-input>
                </ion-item>
                <ion-label color="danger" class="error" *ngIf="submitted || Validations.nomAgence.errors && Validations.nomAgence.touched">
                    <ion-label  *ngIf="Validations.nomAgence.errors.required">Ce champ est obligatoire</ion-label>
                    <ion-label  *ngIf="Validations.nomAgence.errors.minlength">Le nom de l'adrèsse est trop court, ça doit comporter au minimum 2 caractères!</ion-label>
                </ion-label>

                <ion-item lines="full" class="ion-margin-bottom">
                  <ion-label position="floating">Adrèsse</ion-label>
                  <ion-input type="text" required formControlName="adressAgence"></ion-input>
                </ion-item>
                <ion-label color="danger" class="error" *ngIf="submitted || Validations.adressAgence.errors && Validations.adressAgence.touched">
                    <ion-label *ngIf="Validations.adressAgence.errors.required">Ce champ est obligatoire</ion-label>
                    <ion-label *ngIf="Validations.adressAgence.errors.minlength">L'adrèsse de l'agence  est trop court, ça doit comporter au minimum 2 caractères!</ion-label>
                </ion-label>

                <ion-item lines="full" class=" ion-margin-bottom">
                    <ion-label position="floating">Solde du compte</ion-label>
                    <ion-input type="number" min="800000" required formControlName="solde"></ion-input>
                </ion-item>
                <ion-label color="danger" class="error" *ngIf="submitted || Validations.solde.errors && Validations.solde.touched">
                    <ion-label *ngIf="Validations.solde.errors.required">Ce champ est obligatoire</ion-label>
                    <ion-label *ngIf="Validations.solde.errors.min">Le solde doit être supérieur à 700 000 Fcfa</ion-label>
                </ion-label>

                <ion-item >
                    <ion-label>Utiisateurs</ion-label>
                    <ion-select class="custom-options" multiple="true" formControlName="users">
                        <ion-select-option  *ngFor="let user of availableUsers" value="/api/admin/user/{{user.id}}">{{user.username}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-row class="ion-justify-content-end ion-margin-top ion-margin-bottom">
                    <ion-col class="ion-margin-bottom">
                        <ion-button expand="block" class="ion-justify-content-end ion-margin-top ion-margin-bottom" color="secondary" shape="round" (click)="CreateAgence()">Valider</ion-button>
                    </ion-col>
                </ion-row>

            </ion-card-content>

          </ion-card>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

