 <ion-header translucent={true}>
    <ion-toolbar>
      <ion-card class="ion-justify-content-center header">
        <ion-card-header>
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-col size-lg="1" size-md="1" size-sm="3" size="5">
                <div>
                  <img src="../../../assets/icon/logo.png"/>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
        <ion-card-content class="ion-align-items-center">
            <ion-grid>
                <ion-row>
                    <ion-col style="display: flex; justify-content: center">
                        <div class="aboveDepot">
                           <ion-icon id="depotIcon" src="assets/icon/transaction.svg" alt="transaction" ></ion-icon>Mes transactions
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-toolbar>
<!--    <ion-toolbar>-->
<!--        <ion-grid>-->
<!--          <ion-row>-->
<!--            <ion-col >-->
<!--              1 of 4-->
<!--            </ion-col>-->
<!--            <ion-col col-2>-->
<!--              2 of 4-->
<!--            </ion-col>-->
<!--            <ion-col col-2>-->
<!--              3 of 4-->
<!--            </ion-col>-->
<!--            <ion-col col-4>-->
<!--              4 of 4-->
<!--            </ion-col>-->
<!--          </ion-row>-->
<!--        </ion-grid>-->
<!--    </ion-toolbar>-->
</ion-header>


 <ion-content>
     <ion-grid>
         <ion-row class="ion-justify-content-center">
             <ion-col size="12" size-sm="8" size-md="6" >

               <ion-row class=" header-row">

                   <ion-col tappable (click)="sortBy('date')" size="4">
                       <div>Date
                           <ion-icon name="arrow-down" *ngIf="sortDate"></ion-icon>
                           <ion-icon name="arrow-up" *ngIf="!sortDate"></ion-icon>
                       </div>
                   </ion-col>

                   <ion-col (click)="sortBy('type')" size="4">
                       <div>Type
                           <ion-icon name="arrow-down" *ngIf="sortDirection"></ion-icon>
                           <ion-icon name="arrow-up" *ngIf="!sortDirection"></ion-icon>
                       </div>
                   </ion-col>

                   <ion-col (click)="sortBy('montant')" size="4">
                       <div>Montant
<!--                           <ion-icon name="arrow-down" *ngIf="sortMontant"></ion-icon>-->
<!--                           <ion-icon name="arrow-up" *ngIf="!sortMontant"></ion-icon>-->
                       </div>
                   </ion-col>

             </ion-row>

             <ion-row  *ngFor="let transaction of mestransactions | paginate: { id: 'foo',
                                                            itemsPerPage: 7,
                                                            currentPage: page,
                                                            totalItems: totalTransactions }" class="data-row" tappable (click)="rowselect(transaction.codeTransaction)">

                 <ion-col size="4">
                   <div>{{transaction?.datetransaction | date: 'shortDate'}}</div>
                 </ion-col>
                 <!--                      <ion-col size="1">-->
                 <!--                          <div>{{transaction?.user}}</div>-->
                 <!--                      </ion-col>-->
                 <ion-col size="4">
                   <div>{{transaction?.type}}</div>
                 </ion-col>
                 <ion-col size="4">
                   <div>{{transaction?.montant}}</div>
                 </ion-col>
             </ion-row>

             <ion-row class="ion-justify-content-center">
                  <pagination-controls id="foo" (pageChange)="page = $event"></pagination-controls>
             </ion-row>
           </ion-col>
         </ion-row>
     </ion-grid>
 </ion-content>
