ion-content {
  background-color: white;
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

ion-card-content{
  padding: 0;
}
.aboveDepot{
  border-bottom: rgb(133, 191, 224) solid 4px;
  font-size: 1.1em;
}
//------------------------------------------------ ## ----------------------------------------------//

header {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 25px;
}

// ---------------------------------------------- Code de transaction ------------------------------------------------- //
//@media screen and (min-width: 300px){
//  .aboveDepot{
//    font-size: 1.4em;
//  }
//  #error{
//    font-size: 1.3em;
//  }
//}

.header-row{
  font-weight: 500;
  border-bottom: 2px solid black;
}
.data-row{
  border-bottom: 1px solid black;
}


