<!--  ---------------------------------REAL --------------------------------------->
<ion-header translucent>
   <ion-row class="ion-justify-content-center">
       <ion-col size="10" size-sm="8" size-md="6" >
           <ion-toolbar >
               <ion-buttons slot="start"  routerLink="/tabs/homepage">
                  <ion-icon style="zoom:2.0;" name="arrow-back-circle-outline"></ion-icon>
               </ion-buttons>
               <ion-row class="ion-justify-content-center">
  <!--            <ion-col size="12" size-sm="8" size-md="6" size-lg="8">-->
                     <div>
  <!--                          <ion-title>-->
                          <ion-icon style="zoom:1.7" name="person-add-outline"></ion-icon>
  <!--                          </ion-title>-->
                     </div>
  <!--             </ion-col>-->
               </ion-row>
           </ion-toolbar>
       </ion-col>
   </ion-row>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-sm="8" size-md="6" size-lg="4">
              <form [formGroup]="formUser" enctype="multipart/form-data">
                <ion-card>
                  <input type="file" formControlName="avatar" name="avatar" (change)="Uploadefiler($event)"  accept=".jpg, .jpeg, .png">
                  <ion-card-header style="display: flex; justify-content: center">
                      <ion-avatar *ngIf="url">
                          <img [src]="url" class="avatar">
                      </ion-avatar>
                      <ion-avatar *ngIf="!url">
                          <img class="avatar" src="assets/images/avatar.png">
                      </ion-avatar>
                  </ion-card-header>

                  <ion-card-content>

                    <ion-item lines="full" class=" ion-margin-bottom">
                      <ion-label position="floating">Nom</ion-label>
                      <ion-input type="text" required formControlName="lastname"></ion-input>
                    </ion-item>
                    <ion-label color="danger" class="error" *ngIf="submitted || Validations.lastname.errors && Validations.lastname.touched">
                      <ion-label  *ngIf="Validations.lastname.errors.required">Ce champ est obligatoire</ion-label>
                      <ion-label  *ngIf="Validations.lastname.errors.minlength">Le nom est trop court, ça doit comporter au minimum 2 caractères!</ion-label>
                    </ion-label>

                    <ion-item lines="full" class="ion-margin-bottom">
                      <ion-label position="floating">Prénom</ion-label>
                      <ion-input type="text" required formControlName="firstname"></ion-input>
                    </ion-item>
                    <ion-label color="danger" class="error" *ngIf="submitted || Validations.firstname.errors && Validations.firstname.touched">
                      <ion-label *ngIf="Validations.firstname.errors.required">Ce champ est obligatoire</ion-label>
                      <ion-label *ngIf="Validations.firstname.errors.minlength">Le prènom est trop court, ça doit comporter au minimum 2 caractères!</ion-label>
                    </ion-label>
                    <!--                            <ion-label color="danger" class="ion-justify-content-center error" *ngIf="nomEmetteur.hasError('required') && nomEmetteur.touched">Veuillez bien saisir le nom de l'émetteur!</ion-label>-->

                    <ion-item lines="full" class=" ion-margin-bottom">
                        <ion-label position="floating">Nom d'utilisateur</ion-label>
                        <ion-input type="text" required formControlName="username"></ion-input>
                    </ion-item>
                    <ion-label color="danger" class="error" *ngIf="submitted || Validations.username.errors && Validations.username.touched">
                        <ion-label *ngIf="Validations.username.errors.required">Ce champ est obligatoire</ion-label>
                        <ion-label *ngIf="Validations.username.errors.minlength">Le nom d'utilisateur est trop court, ça doit comporter au minimum 5 caractères</ion-label>
                    </ion-label>
                    <!--                            <ion-label color="danger" class="ion-justify-content-center error" *ngIf="prenomEmetteur.hasError('required') && prenomEmetteur.touched">Veuillez bien saisir le prénom de l'émetteur!</ion-label>-->

                    <ion-item lines="full" class=" ion-margin-bottom">
                        <ion-label position="floating">N° carte d'identité</ion-label>
                        <ion-input type="number" required formControlName="identityNum"></ion-input>
                    </ion-item>
                    <ion-label color="danger" class="error" *ngIf="submitted || Validations.lastname.errors && Validations.identityNum.touched">
                        <ion-label *ngIf="Validations.identityNum.errors.required">Ce champ est obligatoire</ion-label>
                        <ion-label *ngIf="Validations.identityNum.errors.minlength">L'identifiant doit comporter au minimum 9 chiffres!</ion-label>
                    </ion-label>

                    <ion-item lines="full" class=" ion-margin-bottom">
                        <ion-label position="floating">Téléphone</ion-label>
                        <ion-input type="number" required formControlName="phone"></ion-input>
                    </ion-item>
                    <ion-label color="danger" class="error" *ngIf="submitted || Validations.phone.errors && Validations.phone.touched">
                        <ion-label *ngIf="Validations.phone.errors.required">Ce champ est obligatoire</ion-label>
                        <ion-label *ngIf="Validations.phone.errors.minlength">Le numéro de téléphone doit contenir 9 chiffres!</ion-label>
                    </ion-label>
                    <!--  <ion-label color="danger" class="ion-justify-content-center error" *ngIf="prenomEmetteur.hasError('required') && prenomEmetteur.touched">Veuillez bien saisir le prénom de l'émetteur!</ion-label>-->

                    <ion-item lines="full" class="ion-margin-bottom">
                        <ion-label position="floating">Adresse</ion-label>
                        <ion-input type="text" required formControlName="address"></ion-input>
                    </ion-item>
                    <!--                              <ion-label color="danger" *ngIf="submitted || Validations.lastname.errors && Validations.lastname.touched">-->
                    <!--                                <ion-label *ngIf="Validations.lastname.errors.required">Ce champ est obligatoire</ion-label>-->
                    <!--                                <ion-label *ngIf="Validations.lastname.errors.minlength">Le nom est trop court, ça doit comporter au minimum 2 lettres!</ion-label>-->
                    <!--                              </ion-label>-->

                    <ion-item lines="full" class=" ion-margin-bottom">
                        <ion-label>Profil</ion-label>
                        <ion-select placeholder="définissez le profil ..." formControlName="profil">
                            <ion-select-option  value="{{profil?.libelle}}" *ngFor="let profil of allProfis">{{profil?.libelle}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-label color="danger" class="error" *ngIf="submitted || Validations.profil.errors && Validations.phone.touched">
                        <ion-label *ngIf="Validations.phone.errors.required">Ce champ est obligatoire</ion-label>
                    </ion-label>

                    <ion-item lines="full" class=" ion-margin-bottom">
                        <ion-label>Agence</ion-label>
                        <ion-select placeholder="précisez i'agence" formControlName="agence">
                            <ion-select-option  value="{{agence?.id}}" *ngFor="let agence of allAgences">{{agence?.nomAgence}}</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item lines="full" class="ion-margin-bottom">
                        <ion-label position="floating">Mot de passe</ion-label>
                        <ion-input type="text"a formControlName="password" [(ngModel)]="password" required ></ion-input>
                    </ion-item>
                    <ion-label class="error" color="danger" *ngIf="submitted || Validations.password.errors && Validations.password.touched">
                        <ion-label *ngIf="Validations.password.errors.required">Ce champ est obligatoire</ion-label>
                        <ion-label *ngIf="Validations.password.errors.minlength">Le mot de passe est trop court, ça doit comporter au minimum 5 caractères!</ion-label>
                    </ion-label>

                    <form [formGroup]="otherForm">
                        <ion-item lines="full" class="ion-margin-bottom">
                            <ion-label position="floating">Confirmez le mot de passe</ion-label>
                            <ion-input type="text" [(ngModel)]="confirmPassword" required formControlName="confirmPassword" (keyup)="confirmPasswordVerify($event)"></ion-input>
                        </ion-item>
                        <!--                                  <ion-label color="danger" *ngIf="submitted || Val.confirmPassword.errors && Val.confirmPassword.touched">-->
                        <ion-label *ngIf="errorConfirmPassword" class="error" color="danger">Les mots de passe ne correspondent pas!</ion-label>
                        <!--                                      <ion-label *ngIf="Validations.password.errors.minlength">Le mot de passe est trop court, ça doit comporter au minimum 5 caractères!</ion-label>-->
                        <!--                                  </ion-label>-->
                        <!--                                  <ion-label *ngIf="errorConfirmPassword">Les mots de passe ne correspondent pas!</ion-label>-->
                    </form>
                    <!--                            <ion-label  color="danger" *ngIf="phoneEmetteur.hasError('required') && phoneEmetteur.touched" class="ion-justify-content-center error">Veuillez saisir le numéro de l'émetteur!</ion-label>-->

                    <ion-row class="ion-justify-content-end ion-margin-top ion-margin-bottom">
                        <ion-col class="ion-margin-bottom">
                            <ion-button expand="block" [disabled]="formUser.invalid" class="ion-justify-content-end ion-margin-top ion-margin-bottom" color="secondary" shape="round" (click)="CreateUser()">Valider</ion-button>
                          <!--                                <input type="hidden"  class="ion-justify-content-end ion-margin-top ion-margin-bottom">-->
                        </ion-col>
                    </ion-row>

                  </ion-card-content>

                </ion-card>
              </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

