// ------------------------------------ HEADER -------------------------------------------- //
ion-card-header{
  padding: 0;
}
ion-card-content{
  padding: 0;
}
.aboveDepot{
   border-bottom: rgb(133, 191, 224) solid 4px;
   font-size: 1.1em;
}
// -------------------------------------------- ## -------------------------------------------- //
.error{
  display: flex;
  font-size: 1em;
  justify-content: center;
}

.fraisItem{
  margin-left: 103px;
}
.fraisInput{
  padding-left: 103px;
}

ion-content {
  background-color: white;
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
// ---------------------------------------------- ### ----------------------------------------- //

//@media screen and (min-width: 300px){
//  .aboveDepot{
//    font-size: 1.3em;
//  }
//  #error{
//    font-size: 1.3em;
//  }
//}
