<!--<ion-row class="ion-justify-content-center">-->
<!--    <ion-col size="12" size-sm="10" size-md="8" size-lg="6">-->
<!--        <ion-row class="ion-justify-content-between">-->
<!--            <ion-col class="ion-margin-top" offset="1" offset-lg="2">-->
<!--                <div>-->
<!--                    <ion-icon name="menu"  size="large"></ion-icon>-->
<!--                </div>-->
<!--            </ion-col>-->
<!--            <ion-col offset="" size="3" size-sm="2">-->
<!--                <div>-->
<!--                    <ion-img src="assets/icon/logo.png"></ion-img>-->
<!--                </div>-->
<!--            </ion-col>-->
<!--            <ion-col class="ion-margin-top" offset="2" tappable routerLink="/tabs/detail-user/{{tokenDecoded?.id}}">-->
<!--                <div *ngIf="photoExist">-->
<!--                    <img src="data:image/jpeg;base64,{{dataUser.avatar}}" alt="avatar" class="avatar">-->
<!--                </div>-->
<!--                <div *ngIf="!photoExist">-->
<!--                    <ion-avatar>-->
<!--                        <img class="avatar" src="assets/images/avatar.png">-->
<!--                    </ion-avatar>-->
<!--                </div>-->
<!--            </ion-col>-->
<!--       </ion-row>-->
<!--    </ion-col>-->
<!--</ion-row>-->

