<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">

            <ion-tab-button (click)="home()">
                <ion-icon src="assets/icon/home.svg"></ion-icon>
            </ion-tab-button>

            <ion-tab-button tab="historique">
                <ion-icon name="refresh"></ion-icon>
            </ion-tab-button>

            <ion-tab-button tab="tab3">
                <ion-icon name="barcode"></ion-icon>
            </ion-tab-button>

            <ion-tab-button tab="calculator">
                <ion-icon src="assets/icon/calculator.svg"></ion-icon>
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs>
</ion-content>

