ion-content {
  background-color: white;
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
.dataClient {
    margin-top: 60px;
    margin-left: 0;
    //margin-left: 70px;
    font-weight: bold;
    color: #87c4e2;
    display: flex;
}

