<ion-header translucent>
    <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-sm="10" size-md="8" size-lg="6">
            <ion-toolbar routerLink="/">
                <ion-buttons slot="start">
                    <ion-icon style="zoom:2.0;" name="arrow-back-circle-outline"></ion-icon>
                </ion-buttons>
                <ion-row class="ion-justify-content-center">
                    <ion-col style="display: flex; justify-content: center">
                        <div>
                            <ion-icon name="bag-add-outline" style="zoom:2.0;"></ion-icon>
                            <ion-icon name="ban-outline" style="zoom:2.0;"></ion-icon>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-toolbar>
        </ion-col>
    </ion-row>
</ion-header>

<ion-content>
   <ion-grid>
       <ion-row class="ion-justify-content-center">
           <ion-col size="12" size-sm="8" size-md="6" size-lg="4">
               <ion-card>
                   <img src="assets/images/secure.png" />
                   <ion-card-header>
                       <ion-card-subtitle>SECURITE</ion-card-subtitle>
                       <ion-card-title>Quoi de neuf!!</ion-card-title>
                   </ion-card-header>
                   <ion-card-content>
                       Vous avez oublié votre mot de passe ? <br>
                       Ne vous inquiétez pas, ça arrive même aux professionnels !
                       Suivez juste les étapes en dessous et vous pourrez restaurer un nouveau mot de passe facilement et utiliser à nouveau convenablement l'application.
                   </ion-card-content>
               </ion-card>
               <ion-card>
                 <img src="assets/images/power.png" />
                 <ion-card-header>
                   <ion-card-subtitle>Aidez nous à vous aidez!!</ion-card-subtitle>
                 </ion-card-header>
                 <ion-card-content>
                   <form >
                     <!--                     (ngSubmit)="logForm()"-->
                     <!--&lt;                     [(ngModel)]="todo.title"&ndash;&gt;-->
                     <ion-label position="floating">Dites-nous votre nom d'utilisateur pour que nous puissions vérifier.</ion-label>
                     <ion-item lines="full" class=" ion-margin-bottom">
                       <ion-input type="text" required></ion-input>
                     </ion-item>

                     <!-- Colors -->
                     <ion-button type="submit" color="primary">Valider</ion-button>
                     <ion-button type="submit" color="tertiary">Je l'ignore</ion-button>

                   </form>
                 </ion-card-content>
               </ion-card>
           </ion-col>
       </ion-row>
   </ion-grid>
</ion-content>


<!-- Nous sommes désolé mais si vous ignorez votre username, vous devez vous rapprocher d'un administrateur
Laissez nous votre email ou numéro, un de nos membre vous contactera ultérieurement!
 Merci!!!!-->
